<div class="welcome">
    <div class="wow rubberBand"> <h1 class="welcome-top">idea.ly</h1></div>
    <p class="welcome-middle">Looking for real-time feedback on your next big idea?</p>
    <p class="welcome-bottom"><%= link_to 'Get Started', new_user_registration_path %></p>
</div>
