<div class= "comments">
<% @post.comments.each do |comment| %>
  <p><strong>Name: </strong><%= comment.title %></p>
  <p><strong>Body: </strong><%= comment.body %></p>
  <%= link_to 'delete comment', post_comment_path(@post, comment), method: :delete %>
<% end %>
</div>
