<div class= "topic">
  <% if post.topic == "Question" %>
      <%= image_tag "question-mark-2-512.png" %><br />
    <% elsif post.topic == "Idea" %>
      <%= image_tag "Light-Bulb-logo.png" %><br />
    <% elsif post.topic == "Random Thought" %>
      <%= image_tag "thought-bubble.png" %><br />
    <% else %>
  <% end %>
</div>
