<div class= "topic">
  <%= post.topic %> <br />
  <% if post.topic == "Question" %>
      <%= image_tag "/assets/question.png" %>
    <% elsif post.topic == "Idea" %>
      <%= image_tag "/assets/Light-Bulb-logo.png" %>
    <% elsif post.topic == "Random Thought" %>
      <%= image_tag "/assets/thought-bubble.png" %>
    <% else %>
  <% end %>
</div>
