/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*"Roboto Slab", Helvetica, Arial, sans-serif;*/

body {
  background-color: #FDBF00;
  /*background-color: rgba(255, 192, 0, .7);*/
  text-align: center;
}

span {
  color: #3B5998;
}

nav {
  padding: 1%;
  background-color: #e9ebee;
  border-top: 1px solid #ccc;
  margin: 0% 5% 0% 5%;
  border: 2px solid #c6c7cc;
  border-radius: 25px;
}

nav a {
  padding: .5%;
	text-decoration: none;
  font-size: 23px;
}

a, h2, h3, h5, p {
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

a:hover {
  text-decoration: underline;
}

/*need to style forms and image sizes*/

form {
  border: 2px solid #c6c7cc;
  border-radius: 10px;
  font: 15px/1.4 "Roboto Slab", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 38%;
  padding: 10px;
  display: inline-block;
  background-color: #FCFCFC;
}

.field {
  border: 0;
  margin: 5px;
  padding: 5px;
}

#post_body {
  font: 15px/1.4 "Roboto Slab", Helvetica, Arial, sans-serif;
}

input {
  border-radius: 5px;
  font: 15px/1.4 "Roboto Slab", Helvetica, Arial, sans-serif;
  margin: 0;
}

img {
  width: 30%;
  height: auto;
}

post-body {
  border-radius: 5px;
}

.post-view {
  border: 2px solid #c6c7cc;
  border-radius: 25px;
  margin: 2% 23% 2% 23%;
  background-color: #e9eBee;
  padding: 1% 5% 1% 5%;
}

.voting a {
  padding: 1%;
}

.voting a:hover {
  color: #FDBF00;
}

#comment_title {
  width: 40%;
}

#comment_body {
  width: 80%;
}

.tada {
  text-align: center;
  font-family: 'Chewy', cursive;
  font-size: 30px;
}
