// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
  align-items: center;
  background: image-url('pencil-2.jpeg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 100;
}

.welcome-top {
  color: #191919;
  font-family: 'Chewy', cursive;
  font-size: 130px;
  margin: 0;
  text-shadow: 0 5px 0 rgba(255, 255, 255, 0.4);
}

.welcome-middle {
  color: #191919;
  font-family: 'Chewy', cursive;
  font-size: 50px;
  margin: 0;
  text-align: center;
  text-shadow: 0 5px 0 rgba(255, 255, 255, 0.4);
  width: 50%;
}

.welcome-bottom {
  color: #191919;
  border: solid;
  border-radius: 10px;
  font-family: 'Chewy', cursive;
  font-size: 30px;
  margin: 3%;
  padding: .5%;
}

.welcome a:visited {
  color: #000000;
}

.welcome a:link {
  color: #191919;
}
